# Node specific
node_modules/
npm-debug.log

# package locks
package-lock.json

# macOS specific
.DS_Store

# Data
data/

# React specific
/frontend/build/
/frontend/node_modules/
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# IDE specific
.idea/
.vscode/
*.swp
*.swo
