/* Header.css */

header {
    background-color: #333;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  nav ul li {
    flex: 1;
    text-align: center;
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    padding: 10px 20px;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  nav ul li a:hover,
  nav ul li a:hover span {
    color: #fff;
  }
  
  /* Style for username */
  nav ul li .username {
    color: #ffcc00; /* Different color for username */
  }
  