header {
    background-color: #333;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-family: "San Francisco", Arial, sans-serif; /* Use San Francisco font */
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  nav ul li {
    margin-right: 20px; /* Add some spacing between list items */
  }
  
  nav ul li:last-child {
    margin-right: 0; /* Remove margin-right for the last list item */
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Style for username */
  nav .username {
    color: #ffcc00;
    margin-left: auto; /* Right justify the username */
  }
  