header {
  background-color: #333;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-family: "San Francisco", Arial, sans-serif;
  color: #fff;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 20px;
  position: relative;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav .username {
  color: #ffcc00;
  margin-left: auto;
}

.submenu {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #444;
  padding: 10px;
  z-index: 100;
  min-width: 200px;
}

nav ul li:hover .submenu,
.submenu:hover {
  display: block;
}

.transactions {
  color: #fff;
  cursor: pointer;
}

.submenu li a {
  color: #fff;
}

.groups {
  color: #fff;
  cursor: pointer;
}

.submenu-group {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
  background-color: #444;
  padding: 10px;
  z-index: 100;
  min-width: 200px;
}

nav ul li:hover .submenu-group,
.submenu-group:hover {
  display: block;
}

.submenu-group li a {
  color: #fff;
}