.transaction-container {
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
  padding: 20px;
}

.transaction-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.transaction-container p {
  margin-bottom: 10px;
}

.transaction-container table {
  border-collapse: collapse;
  width: 100%;
}

.transaction-container th, .transaction-container td {
  padding: 8px;
  text-align: left;
}

.transaction-container th {
  background-color: #f2f2f2;
}

.transaction-container td {
  border: none;
}

.transaction-container button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transaction-container button:hover {
  background-color: #555;
}

.transaction-container .success {
  color: green;
}

.transaction-container .error {
  color: red;
}

.button-group {
  display: flex;
  align-items: center; /* Align items vertically */
  padding: 5px; /* Adjust padding as needed */
}

.button-group span {
  margin-right: 10px; /* Adjust margin as needed */
}

.button-group select {
  font-size: 14px; /* Adjust font size as needed */
  padding: 8px; /* Adjust padding as needed */
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-group button {
  font-size: 14px; /* Adjust font size as needed */
  padding: 8px; /* Adjust padding as needed */
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 20px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
}



